<div id="main">
    <% if (!req.session.user) { %>
        <h3>Please login or sign-up to save your lists.</h3>
    <% } else { %>
        <button id="newListBtn" class="btn btn-info list-trigger">Make a New List!</button>
        <div id="newListModal" style="display:none;">
        <header class="popupHeader">
        <span class="header_title"><h4>Create A New List</h4></span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>
        <section class="popupBody">
            <form id="newListForm" class="form" action="#">
                <label>List Title:</label>
                <input id="title" name="title" type="text" autofocus="" required>
                <input id="userId" name="userId" type="hidden" value=<%= req.session.user.email %>>
                <button id="newListSubmit" class="btn btn-info" type="submit" value="Sumbit">Submit</button>
            </form>
        </section>
    </div>
    <% } %>
    <% if (!lists || lists == []) { %>
        <h4>You have no active lists! :(</h4>
    <% } %>
</div>
<div id="master-box" class="container">
    <% _.each(lists, function (list) { %>
        <div class="row list-box" id="<%= list.id.toString() %>">
            <div id="list-header" class="row">
                <div id="list-title" class="col-md-9">
                    <h3 id="list-title"><%= list.title %></h3>
                </div>
                <div id="list-edits" class="col-md-3">
                    <button id="itemCntBtn" class="btn btn-info btn-sm" type="button">
                        Items <span class="badge"><%= (list.items).length %></span>
                    </button>
                    <button id="addItemBtn" class="btn btn-sm btn-success">New Item</button>
                    <button id="deleteListBtn" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>
                </div>
            </div>
            <div id="list-items" class="container row" style="display: none;">
                <div class="col-md-9">
                    <table id="item-table" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Due Date</th>
                                <th>Complete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(list.items, function (item) { %>
                                <tr class="item-row" id="<%= item.id %>">
                                    <td><%= item.title %></td>
                                    <td><%= item.description %></td>
                                    <td><%= item.dueDate %></td>
                                    <td>
                                        <% if (item.complete) { %>
                                            <span class="glyphicon glyphicon-ok"></span>
                                        <% } else { %>
                                            <span class="glyphicon glyphicon-minus"></span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <button id="item-edit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button id="item-delete" class="btn btn-xs  btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% }); %>
</div>
