<div id="main">
    <% if (!req.session.user) { %>
        <h3>Please login or sign-up to save your lists.</h3>
    <% } %>
    <% if (!lists || lists == []) { %>
        <h4>You have no active lists! :( Click the button below to make a new list now.</h4>
    <% } %>
    <button id="newListBtn" class="btn btn-info list-trigger">Make a New List!</button>
    <div id="newListModal" style="display:none;">
        <header class="popupHeader">
        <span class="header_title">Create A New List</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>
        <section class="popupBody">
            <form id="newListForm" class="form" method="POST" onsubmit="/list/create">
                <label>List Title:</label>
                <input id="title" name="title" type="text">
                <input id="userId" name="userId" type="hidden" value=
                    <% if (!req.session.user) { %>
                        <%= "temp-user" %>
                    <% } else { %>
                        <%= req.session.user.email %>
                    <% } %>
                >
                <button id="newListSubmit" class="btn btn-info list-trigger"type="submit" value="Sumbit">Submit</button>
            </form>
        </section>
    </div>
</div>
<div id="master-box" class="container">
    <% _.each(lists, function (list) { %>
        <div id="list-box" class="row">
            <div id="list-header" class="row">
                <div id="list-title" class="col-md-9">
                    <h3 id="list-title"><%= list.title %></h3>
                </div>
                <div id="list-edits" class="col-md-3">
                    <button id="itemCntBtn" class="btn btn-info btn-sm" type="button">
                        Items <span class="badge"><%= (list.items).length %></span>
                    </button>
                    <button id="addItemBtn" class="btn btn-sm btn-success">New Item</button>
                    <button id="deleteListBtn" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>
                </div>
            </div>
            <div id="list-items" class="container row" style="display: none;">
                <div class="col-md-9">
                    <table id="item-table" class="table table-striped table-hover">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Due Date</th>
                            <th>Complete</th>
                        </tr>
                        <% if ((list.items).length > 0) { %>
                            <% _.each(list.items, function (item) { %>
                                <tr id="item-row">
                                    <td><%= item.title %></td>
                                    <td><%= item.description %></td>
                                    <td><%= item.dueDate %></td>
                                    <td>
                                        <% if (item.complete) { %>
                                            <span class="glyphicon glyphicon-ok"></span>
                                        <% } else { %>
                                            <span class="glyphicon glyphicon-minus"></span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <button id="item-edit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button id="item-delete" class="btn btn-xs  btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td>No items added yet! :(</td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<script type="text/javascript">
/*
 * Toggles the new list dialog form visability on clicking button
*/
    $(".list-trigger").click(function () {
        $("#newListModal").toggle();
    });
</script>

<script type="text/javascript">
/*
 * Deletes the list on clicking button
*/
    $(document).on("click", "#deleteListBtn", function (){
        $(this).parents('#list-box').fadeOut(300, function() { $(this).remove(); });
    });
</script>

<script type="text/javascript">
/*
 * Toggles the list's items into view on clicking button
*/
    $(document).on("click", "#addItemBtn", function (){
        alert("TO DO: Add a item to the child table on click...");
        $(this).children('#table tr:last').after('<tr id="item-row"><td>New Item</td><td>description...</td><td>03/01/2015</td><td>DUE!</td></tr>');
    });
</script>

<script type="text/javascript">
/*
 * Toggles the list's items visability on clicking button
*/
    $('#itemCntBtn').click(function (){
        $($(this).parents('#list-box')).children("#list-items").toggle();
    });
</script>
